/.github/size-impact/node_modules/
/.github/size-impact/package-lock.json
/.jsenv/
/.vscode/settings.json
/coverage/
/dist/**/manifest.json
/node_modules/
/test/**/temp/
/importMap.json
/jsconfig.json
/package-lock.json
/secrets.json
/yarn.lock
